@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-poppins);
}

body {
    background: url(../assets/bg.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}

/* MAIN */

main {
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 100px;
}

/*

    MAIN TOP

*/

.main-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.main-top-word {
    display: flex;
    column-gap: 10px;
}

.main-top-word-itself {
    color: white;
    background-color: rgba(0,0,0,0.8);
    width: 80px;
    height: 80px;
    border: 1px solid rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.9rem;
}

.main-top-definition {
    color: #95602e;
    padding: 10px;
    background-color: #f1ff8f;
    border-radius: 0.5rem;
    box-shadow: 0 4px 0 #f3b105;
    border: 0;
}

.main-top-definition-header {
    font-size: 1.4rem;
    background-color: #f1ff8f;
    padding-inline: 10px;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.main-top-definition-itself {
    font-size: 1.4rem;
    text-align: center;
}

/*

    MAIN BOTTOM

*/

.main-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 20px;
}

.main-bottom-button {
    padding-block: 15px;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 0.8rem;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background-color: rgb(255, 94, 0);
    color: white;
    box-shadow: 0 7px 0 rgb(218, 80, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bottom-button:hover {
    background-color: rgb(255, 110, 25);
}

.main-bottom-button:active {
    background-color: rgb(255, 110, 25);
    box-shadow: 0 0 0 rgb(218, 80, 0);
    transform: translateY(7px);
    border: 1px solid rgba(255,255,255,0.4);
}